String Template Class

In [4]:
#string template class
from string import Template
student=[('khushi',30),('mivaan',3),('naresh',32)]
t=Template('hi $name, your age is $age')

for i in student:
  print(t.substitute(name=i[0],age=i[1]))

hi khushi, your age is 30
hi mivaan, your age is 3
hi naresh, your age is 32

In [5]:
from string import Template
template=Template('$name is a $job in $company')
string=template.safe_substitute(name='khushi',job='CEO',company='google')
print(string)

khushi is a CEO in google

In [6]:
t = Template( 'That $noun looks ${noun}y')
string = t.substitute(noun='Fish')
print(string)

That Fish looks Fishy

BMI Calculator

In [15]:
height = float(input("Enter your height in cm: "))  
weight = float(input("Enter your weight in kg: "))  

BMI = weight/(height/100)**2  
print("Your Body Mass Index is ",BMI) 

if BMI <= 18.5:  
    print("You are underweight... please gain some weight")  
elif BMI <= 24.9:  
    print("amazing! You are healthy.")  
elif BMI <= 29.9:  
    print("You are overweight...please reduce some weight")  
else:  
    print("You are obese.")

Enter your height in cm: 156
Enter your weight in kg: 60
Your Body Mass Index is  24.654832347140037
amazing! You are healthy.