Class1

In [ ]:
#variables
a="khushi" #string
b=3  #int
c=45.44  #float

In [ ]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
a=5
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)

11
-1
30
0.8333333333333334

In [ ]:
add=a+b
print(add)

11

Class 2

In [ ]:
#collection datatypes in python
#list, tuple,set,dictionary 
#list-> ordered collection of datatypes,[],mutable(changable)

In [ ]:
mylist=["khushi","mivaan"]
print(mylist)

['khushi', 'mivaan']

In [ ]:
mylist1=["khushi",1992,7.4,True]
print(mylist1)

['khushi', 1992, 7.4, True]

In [ ]:
#Indexing

In [ ]:
print(mylist1[0])

khushi

In [ ]:
#update
mylist1=["khushi",1992,7.4,True]
mylist1[1]=1993
print(mylist1)

['khushi', 1993, 7.4, True]

In [ ]:
#append
mylist.append("you")
print(mylist)

['khushi', 'mivaan', 'you', 'you', 'you']

In [ ]:
del(mylist[3])
print(mylist)

['khushi', 'mivaan', 'you', 'you']

In [ ]:
mylist.insert(2,"hai")
print(mylist)

['khushi', 'mivaan', 'hai', 'you', 'you', 'hai']

In [ ]:
mylist.pop(2)
print(mylist)

['khushi', 'mivaan', 'you', 'hai']

In [ ]:
mylist.remove("mivaan")
print(mylist)

['khushi', 'you', 'hai']

Class 3

In [ ]:
#TUPLE-ordered collection of data types,(),immutable

In [ ]:
tuple=("dell","ASUS","hP",27)
print(tuple)

('dell', 'ASUS', 'hP', 27)

In [ ]:
tuple.remove("dell")

AttributeError: ignored

In [ ]:
tuple.append("dell")

AttributeError: ignored

In [ ]:
tuple[0]

'dell'

In [ ]:
tuple1=(1,2)
print(tuple1+tuple)

(1, 2, 'dell', 'ASUS', 'hP', 27)

In [ ]:
del(tuple1)

In [ ]:
print(tuple1)

NameError: ignored

In [ ]:
del(tuple[2])
print(tuple)

TypeError: ignored

In [ ]:
#dictionary: it consist of key and the values

In [ ]:
Dict={
    "name":"khushi,""Mivaan",
    "lang":"python",
    "city":"udaipur"
}

In [ ]:
print("name")

name

In [ ]:
print(Dict)

{'name': 'khushi,Mivaan', 'lang': 'python', 'city': 'udaipur'}

In [ ]:
print(Dict["name"])

khushi,Mivaan

In [ ]:
print(Dict["city"])

udaipur

In [ ]:
Dict.keys()

dict_keys(['name', 'lang', 'city'])

In [ ]:
Dict.values()

dict_values(['khushi,Mivaan', 'python', 'udaipur', 3244])

class4

In [ ]:
Dict["model"]=3244
print(Dict)

{'name': 'khushi,Mivaan', 'lang': 'python', 'city': 'udaipur', 'model': 3244}

In [ ]:
del Dict["model"])
print(Dict)z

SyntaxError: ignored

In [ ]:

print(Dict)

{'name': 'khushi,Mivaan', 'lang': 'python', 'city': 'udaipur', 'model': 3244}

In [ ]:
# index number --> prints individual elements
#Slicing -> printing the sequence of elements

In [ ]:
a="randomness"
print(a[0:6])

random

In [ ]:
print(a[6:])

ness

In [ ]:
print(a[0])
print(a[6])

r
n

In [ ]:
print(a[:3])

ran

In [ ]:
a="randomness"
print(a[-10:-4])

random

In [ ]:
print(a[-1:-9])

In [ ]:
print(a[-10:])

randomness

In [ ]:
#step index
b="python"
print(b[0:7:2])

pto

In [ ]:
print(b[0:5:2])

pto

In [ ]:
print(b[0:5:3])

ph

In [ ]:
print(b[0:7:1])

python

In [ ]:
#ASSIGMENT
#WORK ON -VE INDEXING ON ATLEAST 4 EXAMPLES
#create list,tuple,dict

In [ ]:
print(b[-7:-1:1])

pytho

In [ ]:
print(b[-7::2])

pto

In [ ]:
#set: unordered collection of datatype, {},
myset={"A","B","C","A",324,324.22}
print(type(myset))

<class 'set'>

In [ ]:
print(myset)

{324.22, 324, 'A', 'B', 'C'}

In [ ]:
print(myset[0])

TypeError: ignored

In [ ]:
print(len(myset))

5

In [ ]:
myset.add(32455)
print(myset)

{324.22, 324, 32455, 'A', 'B', 'C'}

In [ ]:
myset.remove(324)
print(myset)

{324.22, 32455, 'A', 'B', 'C'}

In [ ]:
a=set()
print(a)

set()

In [ ]:
a.add("add")
print(a)

{'add'}

In [ ]:
#learn about frozenset is assignment

In [ ]:
myset.pop(0)
print(myset)

TypeError: ignored

In [ ]:
s1={"data","task"}
s2={0,True,"data"}
s3=s1|(s2)  #s3=s1.union(s2)
print(s3)

{0, True, 'data', 'task'}

In [ ]:
s1={"data","task"}
s2={0,True,"data"}
s3=s1&(s2) #s3=s1.intersection(s2)
print(s3)

{'data'}

In [ ]:
s1=[1,2,3]
s2=[3,4]
s3=s1|s2
print(s3)

TypeError: ignored

In [ ]:
s1=100
s2=100
print(s1!=s2)
print(s1>=s2)
print(s1==s2)

False
True
True

In [ ]:
#function-> a set of code will be executed whenever it is called 
def greet(name):
  print("good evening",name)

greet("khushi")

good evening khushi

In [ ]:
greet("mivaan")

good evening mivaan

In [ ]:
def fucn():
  for x in range(1,11):
    print("good")

fucn()

good
good
good
good
good
good
good
good
good
good

In [ ]:
list1=["data","status","progress",1,2,3]
for values in list1:
  print(values)

data
status
progress
1
2
3

In [ ]:
def add(a,b):
  print(a+b)

add(1,2)

3

In [ ]:
def sub(a,b):
  print(a-b)

sub(3,4)

-1

In [ ]:
def user():
  x=input("enter the name: ")
  print("nice to meet you",x)
user()

enter the name: mivaan
nice to meet you mivaan

In [ ]:
user()

enter the name: khushi
nice to meet you khushi

In [ ]:
def add():
  x=int(input("enter the no: "))
  y=int(input("enter the no: "))
  print(x+y)
add()

enter the no: 33
enter the no: 33
66

In [ ]:
#Advance argument passing
#positional arguments
def arg(name,batch,year):
  print("hey this is",name,"from batch",batch," and year",year)

arg("khushi","sep","2022")

hey this is khushi from batch sep  and year 2022

In [ ]:
#frozen set
myfrozenset=frozenset(["e","f"])
print(myfrozenset)

frozenset({'f', 'e'})

In [ ]:
#add
myfrozenset.add("add")
print(myfrozenset)

AttributeError: ignored

**CLASS 6**

In [ ]:
#keyword arguments
def key(name,marks,subject):
  print("hey my name is",name,"and i secured",marks,"in",subject)

key("khushi","65 marks","python")

hey my name is khushi and i secured 65 marks in python

In [ ]:
def key(name,marks,subject):
  print("hey my name is",name,"and i secured",marks,"in",subject)

key(marks="65 marks",subject="python",name="khushi")

hey my name is khushi and i secured 65 marks in python

In [ ]:
#default arguments
def awesome(name="khushi",city="udaipur city",describe="beautiful"):
  print("hey i am",name,"from",describe,city)

awesome("khushi")

hey i am khushi from beautiful udaipur city

In [ ]:
def awesome(name,city,describe="beautiful"):
  print("hey i am",name,"from",describe,city)

awesome(name="khushi",city="udaipur")

hey i am khushi from beautiful udaipur

In [ ]:
#ques-if you have 1500 student data and you fill marks in the student but you don't know who is 1st and 2nd and all
def func(teacher,*args):
  print("the teacher name is",teacher,args)
  for rollno in args:
    print("student",rollno)
func("khushi","1=naresh","2=atul",3,"4-mivaan",4,8,5)

the teacher name is khushi ('1=naresh', '2=atul', 3, '4-mivaan', 4, 8, 5)
student 1=naresh
student 2=atul
student 3
student 4-mivaan
student 4
student 8
student 5

In [ ]:
#important
def func(teacher,*args,**kwards):
  print("the teacher name is",teacher,args)
  for rollno in args:
    print("student",rollno)
  for subject in kwards:
    print(subject,kwards[subject])
func("khushi","1=naresh","2=atul",3,"4-mivaan",4,8,5,science=10,english=4)

the teacher name is khushi ('1=naresh', '2=atul', 3, '4-mivaan', 4, 8, 5)
student 1=naresh
student 2=atul
student 3
student 4-mivaan
student 4
student 8
student 5
science 10
english 4

In [ ]:
#sequence
list=["a","b","c","d"]
print("a" in list)
print("data" in list)
print("data" not in list)
print(len(list))

True
False
True
4

In [ ]:
seq="helllllo"
print(seq.index("l",4,10))

4

In [ ]:
#sequence
b=[1,1,1,1,2,3,4,5,5,5,6,7,8,9,8]
print(b.index(1,2,10))          #1st "1":showing for which no. you want to check 
                                #2nd "2": showing when 2nd time again "1"come 
                                #3rd "10":showing the range

2

CLASS-7

In [ ]:
#files-the information can be written, read, modified and stored(saved)
#different type of modes
#Read mode(r)
#Write mode(w)
#Append mode(a)

In [ ]:
myfile=open("file.txt","r")
print(myfile.read())

print("hello everyone")

In [ ]:
myfile=open("file1.txt","w")
myfile.write(
    "hi i am devloping a GAME"
)

24

In [ ]:
myfile=open("file1.txt","r")
print(myfile.read())

hi i am devloping a GAME

In [ ]:
myfile=open("file1.txt","a")
myfile.write("\n how'z it???")

13

In [ ]:
myfile=open("file1.txt","r")
print(myfile.read())

hi i am devloping a GAME
 how'z it???

In [ ]:
myfile.close()

In [ ]:
#context manager-
with open("file.txt","r") as file:
    print(file.read())

print("hello everyone")

In [ ]:
mylines=["task is been scheduled \n","ststus of the task \n","good to go"]
with open("file.txt","a") as file:
  file.writelines(mylines)

In [ ]:
with open("file.txt","r") as file:
    print(file.read())

print("hello everyone")
task is been scheduled
ststus of the task
good to go

In [ ]:
#assigment-3:
'''what is r+, w+, a+
create a calci where the values are operators need to be given by the user and store the values in the file'''

'what is r+, w+, a+\ncreate a calci where the values are operators need to be given by the user and store the values in the file'

In [ ]:
#modules
#Built in function
import math
print(math.sin(1))

0.8414709848078965

In [ ]:
print(math.pi)

3.141592653589793

In [ ]:
import datetime
x=datetime.datetime.now()
print(x)
#OR
print(datetime.datetime.now())
print(x.strftime("%m"))
print(x.strftime("%c"))
print(x.strftime("%d"))
print(x.strftime("%w"))  #showing week
print(x.strftime("%y"))
print(x.strftime("%j"))  #don't know check it??

2022-09-21 13:48:41.761128
2022-09-21 13:48:41.763759
09
Wed Sep 21 13:48:41 2022
21
3
22
264

In [ ]:
from datetime import date
today=date.today()
print(today)

2022-09-21

In [ ]:
# r+,w+,a+
with open('file.txt', 'w+') as f:                #w+ :it's write and read the file
    f.write("hi \n")
    f.write("i am khushi\n")
    f.write("welcome to my pc \n")
    f.seek(0)                       # move the file pointer to the beginning
    lines = f.read()                # read it, now we can read!
    print(lines)

In [ ]:
with open('file.txt', 'r+') as f:                 #r+ :it's read and write in file 
    f.write("welcome khushi")

In [ ]:
with open('file.txt', 'a+') as f:
    f.write("i am starting new project")
    f.seek(0)                       # file pointer at end, move to beginning
    lines = f.readlines()           # read all and file pointer at end again
    print(lines)                   # append number of lines to a file

In [ ]:
#with open('file.txt', 'a+') as f:
    # f.seek(0)                       # file pointer at end, move to beginning
    # lines = f.readlines()           # read all and file pointer at end again
    # f.write("\n" + str(len(lines))) # append number of lines to a file

CLASS 8

In [ ]:
#comprehension-making a task in presize way
mylist=[1,2,3,4,5,5,6]
print(mylist)

[1, 2, 3, 4, 5, 5, 6]

In [ ]:
even_list=[]
for x in mylist:
  if x %2==0:
    even_list.append(x)
print(even_list)

odd_list=[]
for x in mylist:
  if x %2!=0:
    odd_list.append(x)
print(odd_list)

[2, 4, 6]
[1, 3, 5, 5]

In [ ]:
#list comprehension
evenlist=[y for y in mylist if y%2==0]
print("the even numbers are",evenlist)
oddlist=[y for y in mylist if y%2!=0]
print("the even numbers are",oddlist)

the even numbers are [2, 4, 6]
the even numbers are [1, 3, 5, 5]

In [ ]:
#dic
mydic={}
for z in mylist:
  mydic[z]=z**2
print(mydic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
#dic comprehension
mydic={z:z**2 for z in mylist}
print(mydic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
#iterator-printing data one by one
list=[1,2,3,4,5,6,]
myiteration=iter(list)  #iter-passing up the value of my list
print(next(myiteration))

1

In [ ]:
print(next(myiteration))

2

In [ ]:
print(next(myiteration))           # it give error at last when you don't have further data but for loop automically stop at last without error

3

In [ ]:
for z in list:
  print(z)

1
2
3
4
5
6

In [ ]:
#Generator comp -advance version of comprehension
#yield keyword
def gen(x):
  yield x+6
  yield x-6
  yield x*6
for y in gen(7):
    print(y)

13
1
42

In [ ]:
def gen(x):
  print(x+6)
  print(x-6)
  print(x*6)

gen(7)

13
1
42

In [ ]:
set={z for z in list}

In [ ]:
print(set)

{1, 2, 3, 4, 5, 6}

In [ ]:
s=set()
for x in mylist:
  if x%2==0:
    add(x)
print()

# odd_set=set()
# for x in mylist:
#   if x %2!=0:
#     odd_set.add(x)
# print(odd_set)

TypeError: ignored

In [ ]:
#dic comprehension
evenset={y for y in mylist if y%2==0}
print("the even numbers are",evenset)
oddset={y for y in mylist if y%2!=0}
print("the even numbers are",oddset)

the even numbers are {2, 4, 6}
the even numbers are {1, 3, 5}

CLASS 9

In [ ]:
#exceptional handling

In [ ]:
print(1/0)

ZeroDivisionError: ignored

In [ ]:
try:
  print(a)
  print("hello everyone")
except:
  print("an error occurred")

an error occurred

In [ ]:
mylist=[1,23,3,5,0,56,4]
try:
  print(mylist[4])
  print(mylist[1])
  print(mylist[0])
except:
  print("the value is not defined")

0
23
1

In [ ]:
try:
  print(2/0)
except:
  print("ZeroDivisionError")

ZeroDivisionError

In [ ]:
t=[12,22,44]
try:
  print(t[0])
  print(t[1])
  print(t[6])
except:
  print("error occured")

12
22
error occured

In [ ]:
list=[11,23,45,51,41]
try:
  for value in list:
    if(value<5):
      print(value)
except:
  print("error occured")

In [ ]:
try:
  x=open("python.txt","r")
  print(x.read())
except:
  print("doesn't exist")
finally:
  print("the task is partially done")

hai everyone
the task is partially done

In [ ]:
try:
  raise NameError("data is present")
except NameError:
  print("an error occured")
  raise

an error occured

NameError: ignored

In [ ]:
try:
  raise NameError("data is present")
except:
  print("an error occured")
  raise

an error occured

NameError: ignored

In [ ]:
try:
  raise ZeroDivisionError("data is present")
except NameError as e:
  print("custom msg")
  raise

ZeroDivisionError: ignored

In [ ]:
print(2+3+)

SyntaxError: ignored

In [ ]:
print(2/0)

ZeroDivisionError: ignored

In [ ]:
# Regular expression-it's a search pattern(you can search anything)

In [ ]:
import re
reg="hello, you are welcome"

In [ ]:
x=re.search("you are",reg)
print(x)

<re.Match object; span=(7, 14), match='you are'>

In [ ]:
print("start of the index number",x.start())
print("start of the index number",x.end())

start of the index number 7
start of the index number 14

In [ ]:
print(reg[7:15])

you are

In [ ]:
#sub
reg="hello, you are wellcome"
match=re.sub("\s","and",reg)
print(match)

hello,andyouandareandwellcome

In [ ]:
reg="hello, you are wellcome"
match=re.sub("\s",reg)
print(match)

TypeError: ignored

In [ ]:
greet="welcome 00099"
match3=re.findall("\d+",greet)
print(match3)

['00099']

In [ ]:
import re
s="hello there, my num is 8740"
d=re.search("\\d\-\d\dd-\d",s)
print(d.group(0))

AttributeError: ignored

In [ ]:
#lambda function
def a(a,d):
  print(a,d)
a(1,2)

1 2

In [ ]:
x=lambda x:x+10/32
(x(4))

4.3125

In [ ]:
x1=lambda x,y,z:x+y+z
print(x1(4,3,2))

9

In [ ]:
print((lambda a,b,c:a+b+c)(1,2,3))

6

In [ ]:
tables=[lambda x=x:x*10 for x in range (1,11)]
for table in tables:
  print(table())

10
20
30
40
50
60
70
80
90
100

In [ ]:
tables=[lambda x:x*10 for x in range (1,5)]
for table in tables:
  print(table(4))

40
40
40
40

In [ ]:
y=lambda a,b: a if(a>b) else b
print(y(3,2))

3

CLASS 10

In [ ]:
#oops-> object oriented programming
# few fundamentals concepts on oop

In [ ]:
#class-> it is a blueprint for creating objects
class event():
  processor="intel IS"
  display="the data is displayed in full HD" 
event.processor="Intel I7"

In [ ]:
object1=event()
object2=event()
object3=event()
print(object1.processor)
print(object1.display)
print(object2.processor)
print(object3.processor)

Intel I7
the data is displayed in full HD
Intel I7
Intel I7

In [ ]:
class employee:
  company="Google"
  emp_id="2222"
employee.company="microsoft"

In [ ]:
object1=employee()
print(object1.company)

microsoft

In [ ]:
object1.company="google"
print(object1.company)

google

In [ ]:
#instance attribute
class event():
  processor="intel IS"
  display="the data is displayed in full HD" 
  #instance attribute
  # def __init__(self,color):
  #   self.color=color
  def task(self):
    print("hello")


event.processor="Intel I7"

In [ ]:
# object1=event()
# object2=event()
# object3=event()
# obj3.processor="Pentium"

# print(object1.processor)
# print(object1.display)
# print(object2.processor)
# print(object3.processor)
# print(obj3.processor)

In [ ]:
myobj1=event("red")
myobj2=event("Black")
print(myobj1.processor, myjob1.color)

TypeError: ignored

In [ ]:
myobj=event()
myobj.task()

hello

In [ ]:
#inheritance
class event():
  processor="intel IS"
  display="the data is displayed in full HD" 
  #instance attribute
  # def __init__(self,color):
  #   self.color=color
  # def task(self):
  #   print("hello")

class game(event):
  def __init__(self,color,camera):
    self.camera=camera
  def simple(self):
    print("this is game class which is inhertited class from event")


event.processor="Intel I7"

In [ ]:
object4=game("white","HP")
print(object4.camera,object4.processor,object4.display)
object4.simple()

HP Intel I7 the data is displayed in full HD
this is game class which is inhertited class from event

In [ ]:
#Encapsulation
class admin():
    def __init__(a,username,password):
      a.username=username
      # a.password=password
    #hide password
      a.__password=password       #it will show eror
    #so use this
    def secret(a):
      print(a.__password)

In [ ]:
obj5=admin("admin","pass")
print(obj5.username)
# print(obj5.password)
obj5.secret()

admin
pass

CLASS 11

In [ ]:
  #Polymorphism-creating multiple forms
  class Bird():
    def intro(self):
      print("there are diff type of birds")
    def fly(self):
      print("most of the birds can't fly")
  class Parrot(Bird):
    def fly(self):
      print("parrot can fly")
  class Penguin(Bird):
    def fly(self):
      print("penguin can not fly")

In [ ]:
obj_Bird=Bird()
obj_parr=Parrot()
obj_peng=Penguin()

obj_Bird.intro()
obj_parr.intro()
obj_peng.intro()

obj_Bird.fly()
obj_parr.fly()
obj_peng.fly()

there are diff type of birds
there are diff type of birds
there are diff type of birds
most of the birds can't fly
parrot can fly
penguin can not fly

In [ ]:
class department():
  def employee(self):
    print("active employee")
  def salary(self):
    print("8 lac")
class new(department):
  def salary(self):
    print("12 lac")

In [ ]:
obj_dep=department()
obj_new=new()

obj_dep.employee()
obj_new.employee()

obj_dep.salary()
obj_new.salary()

active employee
active employee
8 lac
12 lac

In [ ]:
#String formatting-two types
#1. %operator
#2. .format()
#3. fstring
#4. string template class

In [ ]:
print("hello %s,welcome all"%"class")

hello class,welcome all

In [ ]:
print("hai %s,welcome %s" %("khushi","how are you"))

hai khushi,welcome how are you

In [ ]:
print("hello {2}, you are {0},batch {1}".format("welcome",2022,"all"))

hello all, you are welcome,batch 2022

In [ ]:
print("hello:{a}".format(a="class you are welcome"))

hello:class you are welcome

In [ ]:
name="khushi"
print("my favorite is " +name)

my favorite is khushi

In [ ]:
n1=1234
n2=127.22
print(f"the addition is {n1+n2}")

the addition is 1361.22

In [ ]:
#assignment4 -string template class with example

In [ ]:
#python decoraators- use to modify the code with decorator without change the name function 
def greet():
  print("hello all")

In [ ]:
greet1=greet()
greet1
greet()

hello all
hello all

In [ ]:
def increment(num1):
  return num1+1
def decrement(num1):
  return num1-1

In [ ]:
increment(10)

11

In [ ]:
decrement(11)

10

In [ ]:
def incdec(func,num1):
  result=func(num1)
  return result
incdec(increment,10)
incdec(decrement,10)

9

In [ ]:
def sum(n1,n2):
  return (n1+n2)
def sub(n1,n2):
  return (n1-n2)

In [ ]:
def sumsub(func,n1,n2):
  result=func(n1,n2)
  return result
sumsub(sum,10,5)

15

In [ ]:
a="khushi"
b="teachnook"
print(f"hai " +a, "welcome to " +b)

hai khushi welcome to teachnook

In [ ]:
#Assignment5=create a BMI calculator